body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.slogan {
  margin-left: 36px;
}

.showTableBtn {
  margin-top: 50px;
  margin-left: 36px;
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  color: black;
  padding: 10px;
  cursor: pointer;
}

.addBtn {
  padding: 7px 10px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addBtn:hover {
  background-color: green;
  color: #F6FDF1;
}

.edtBtn, .dltBtn {
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.dltBtn:hover {
  background-color: red;
  color: whitesmoke;
}

.edtBtn:hover {
  background-color: orange;
  color: whitesmoke;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  align-items: center;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.table-container {
  gap: 10px;
  padding-top: 30px;
  margin-left: 36px;
}

input {
  font-size: 16px;
  margin-left: 0;
  margin-right: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  color: green;
}

th {
  background-color: green;
  color: #F6FDF1;
}

td {
  background-color: #F6FDF1;
}

form {
  display: flex;
  gap: 5px;
  margin-right: 36px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.newRecord {
  display: block;
}

.dark-theme {
  background-color: #333333;
  color: whitesmoke
}

.light-theme {
  background-color: whitesmoke;
  color: #333333;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
